{% extends "page.twig" %}
{% import "blog/_controller.twig" as blog_controller %}

{% block title %}Archive{% endblock %}

{% block content %}
	
	<h1>Archive for {{archive_date|date("F Y")}}</h1>
	{{blog_controller.renderPosts(posts)}}
	
{% endblock %}