{% extends "page.twig" %}
{% import "blog/_controller.twig" as blog_controller %}

{% block title %}Home | My Blog{% endblock %}

{% block content %}
	<h1>My Blog</h1>
	{{blog_controller.renderPosts(recent)}}
{% endblock %}