{% extends "page.twig" %}

{% block title %}Not Found{% endblock %}

{% block content %}
	<h1>Not Found</h1>
	<p>We could not locate the content you were looking for. We apologize for the inconvenience.</p>
{% endblock %}